-- =========================
-- USERS
-- =========================
CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(50) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    role VARCHAR(50) DEFAULT 'user'
);

-- =========================
-- ADMIN
-- =========================
CREATE TABLE admin (
    admin_id INT AUTO_INCREMENT PRIMARY KEY,

    full_name VARCHAR(100) NOT NULL,
    dob DATE,
    gender VARCHAR(10),
    contact_number VARCHAR(15),
    email VARCHAR(100) UNIQUE NOT NULL,

    username VARCHAR(50) UNIQUE NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    role VARCHAR(30) DEFAULT 'Admin',
    account_status VARCHAR(20) DEFAULT 'Active',

    institute_name VARCHAR(150),
    institute_code VARCHAR(50),
    institute_email VARCHAR(100),

    last_login DATETIME,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- =========================
-- STUDENT
-- =========================
CREATE TABLE student (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,

    full_name VARCHAR(100),
    age INT,
    gender VARCHAR(10),

    email VARCHAR(100),
    phone VARCHAR(15),
    address TEXT,

    course VARCHAR(100),
    department VARCHAR(100),
    institute_name VARCHAR(150),
    year_of_study INT,

    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
);

-- =========================
-- COURSES
-- =========================
CREATE TABLE courses (
    course_id INT AUTO_INCREMENT PRIMARY KEY,
    course_name VARCHAR(150) NOT NULL,
    course_code VARCHAR(50) UNIQUE NOT NULL,
    department VARCHAR(100),
    description TEXT,
    duration VARCHAR(50),
    fee DECIMAL(10,2) NOT NULL,
    status VARCHAR(20) DEFAULT 'Active',
    created_by INT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (created_by) REFERENCES admin(admin_id) ON DELETE SET NULL
);

-- =========================
-- STUDENT COURSES (FINAL, SINGLE VERSION)
-- =========================
CREATE TABLE student_courses (
    id INT AUTO_INCREMENT PRIMARY KEY,

    student_id INT NOT NULL,
    course_id INT NOT NULL,

    enrollment_status ENUM('Enrolled','Unenrolled') DEFAULT 'Enrolled',
    enrollment_verification_status ENUM('Pending','Verified','Rejected') DEFAULT 'Pending',

    payment_verification_status 
        ENUM('Not Required','Pending','Submitted','Verified','Rejected')
        DEFAULT 'Not Required',

    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    enrollment_verified_at TIMESTAMP NULL,
    payment_verified_at TIMESTAMP NULL,

    UNIQUE KEY unique_enrollment (student_id, course_id),

    FOREIGN KEY (student_id) REFERENCES student(id) ON DELETE CASCADE,
    FOREIGN KEY (course_id) REFERENCES courses(course_id) ON DELETE CASCADE
);

-- =========================
-- PAYMENTS
-- =========================
CREATE TABLE payments (
    payment_id INT AUTO_INCREMENT PRIMARY KEY,

    student_id INT NOT NULL,
    course_id INT NOT NULL,

    amount DECIMAL(10,2),
    payment_method VARCHAR(50),
    transaction_id VARCHAR(100),

    verification_status ENUM('Pending','Submitted','Verified','Rejected')
        DEFAULT 'Pending',

    payment_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    UNIQUE KEY unique_payment (student_id, course_id),

    FOREIGN KEY (student_id) REFERENCES student(id) ON DELETE CASCADE,
    FOREIGN KEY (course_id) REFERENCES courses(course_id) ON DELETE CASCADE
);

-- =========================
-- EXAM RESULTS
-- =========================
CREATE TABLE exam_results (
    id INT AUTO_INCREMENT PRIMARY KEY,

    student_id INT NOT NULL,
    course_name VARCHAR(100) NOT NULL,

    exam_date DATE NOT NULL,
    marks INT NOT NULL,
    grade VARCHAR(5) NOT NULL,
    attended ENUM('Attended','Not Attended') NOT NULL,
    status ENUM('Pass','Fail') NOT NULL,

    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE
);

-- =========================
-- CERTIFICATES
-- =========================
CREATE TABLE certificates (
    id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    course_id INT,
    issued_date DATE,
    certificate_url VARCHAR(255),

    FOREIGN KEY (student_id) REFERENCES student(id),
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
);

-- =========================
-- COURSE ENROLLMENT SUMMARY VIEW
-- =========================
CREATE VIEW course_enrollment_summary AS
SELECT 
    c.course_id,
    c.course_name,
    COUNT(sc.student_id) AS total_students
FROM courses c
LEFT JOIN student_courses sc ON c.course_id = sc.course_id
GROUP BY c.course_id;


CREATE TABLE exams (
    exam_id INT AUTO_INCREMENT PRIMARY KEY,
    exam_name VARCHAR(150) NOT NULL,
    course_id INT NOT NULL,
    exam_date DATE,

    question_file VARCHAR(255),
    answer_file VARCHAR(255),
    -- time limit in minutes for the exam
    time_limit INT DEFAULT 30,

    status VARCHAR(30) DEFAULT 'Draft',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (course_id) REFERENCES courses(course_id)
        ON DELETE CASCADE
);


-- =========================
-- EXAM QUESTIONS
-- =========================
CREATE TABLE exam_questions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    exam_id INT NOT NULL,
    q_no INT NOT NULL,
    question TEXT NOT NULL,
    option_a TEXT,
    option_b TEXT,
    option_c TEXT,
    option_d TEXT,
    correct_option CHAR(1),
    FOREIGN KEY (exam_id) REFERENCES exams(exam_id) ON DELETE CASCADE,
    UNIQUE KEY exam_q_unique (exam_id, q_no)
);


-- =========================
-- STUDENT ATTEMPTS
-- =========================
CREATE TABLE student_attempts (
    attempt_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT NOT NULL,
    exam_id INT NOT NULL,
    started_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    submitted_at DATETIME,
    duration_seconds INT DEFAULT 0,
    score INT DEFAULT NULL,
    graded ENUM('Pending','Graded') DEFAULT 'Pending',
    FOREIGN KEY (student_id) REFERENCES student(id) ON DELETE CASCADE,
    FOREIGN KEY (exam_id) REFERENCES exams(exam_id) ON DELETE CASCADE
);


-- =========================
-- STUDENT ANSWERS
-- =========================
CREATE TABLE student_answers (
    id INT AUTO_INCREMENT PRIMARY KEY,
    attempt_id INT NOT NULL,
    q_no INT NOT NULL,
    selected_option CHAR(1),
    FOREIGN KEY (attempt_id) REFERENCES student_attempts(attempt_id) ON DELETE CASCADE,
    UNIQUE KEY attempt_q_unique (attempt_id, q_no)
);
