.update-form {
    background: white;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
}

.update-form label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

.update-form input,
.update-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.update-form button {
    padding: 8px 16px;
    background: #121536;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
