* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    background: #f4f6fb;
}

#studentTable th {
    cursor: pointer;
    background: #f1f1f1;
}
#studentTable th:hover {
    background: #ddd;
}



/* ===== SIDEBAR ===== */
.sidebar {
    width: 240px;
    height: 100vh;
    background: #0f172a;   /* dark blue */
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 22px;
    margin-bottom: 25px;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    padding: 12px 10px;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;
}

.nav-list li:hover {
    background: #1e293b;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.logout {
    margin-top: 20px;
    background: #1e293b;
}

/* ===== MAIN CONTENT ===== */
.main-content {
    flex: 1;
    padding: 30px;
}

#tab-title {
    font-size: 22px;
    margin-bottom: 15px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

/* ===== PROFILE TABLE ===== */
.profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.profile-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.profile-table td:first-child {
    width: 30%;
    font-weight: 600;
}

/* ===== UPDATE BUTTON ===== */
.update-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 14px;
    background: #0f172a;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.update-btn:hover {
    background: #1e293b;
}

/* ===== SEARCH & FILTER ===== */
.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.search-box input,
.search-box select {
    padding: 8px;
    width: 200px;
}
